# ignore everything
/*

# except these
!.gitignore
!insurgency_start.bat
!README.md
!LICENSE.txt

# don't ignore this folder
!/insurgency
# ignore all the contents of this folder
/insurgency/*
# except these
!/insurgency/mapcycle_millard.txt
!/insurgency/motd.txt
!/insurgency/subscribed_file_ids.txt

# don't ignore this folder
!/insurgency/cfg
# ignore all the contents of this folder
/insurgency/cfg/*
# except these
!/insurgency/cfg/server.cfg
!/insurgency/cfg/server_checkpoint.cfg
